@import "_mixins/font-face"

@font-face
 font-family: GothamPro
 src: url('../fonts/GothamPro.ttf')
 font-display: auto
@font-face 
 font-family: GothamPro Bold
 src: url('../fonts/GothamProBold.otf')
 font-display: auto
@font-face
 font-family: GothamPro Black
 src: url('../fonts/GothamBlack.ttf')
 font-family: auto
@font-face 
 font-family: GothamPro Light
 src: url('../fonts/GothamLight.ttf')
 font-display: auto
@font-face
 font-family: Monserat
 src: url('../fonts/MonseratBold.ttf')
 font-display: auto
@font-face
 font-family: Ubuntu
 src: url('../fonts/Ubuntu.ttf')
 font-display: auto